<main class="main">
  <div>
    <button [className]="isLogingIn ? 'primary active' : 'primary'" (click)="toggleLogin()">
      Login
    </button>
    <button [className]="isLogingIn ? 'primary' : 'primary active'" (click)="toggleRegister()">
      Register
    </button>
  </div>
  <div class="content">
    @if(isLogingIn){
    <div class="login-content">
      <app-login></app-login>
    </div>
    } @else {
    <div class="register-content">
      <app-register></app-register>
    </div>
    }
  </div>
</main>

<router-outlet />
